@model IEnumerable<Lab4.Models.Course>
@{ ViewBag.Title = "Home Page"; @*Layout = "~/Views/Shared/_Layout.cshtml";*@ }

<div class="row">
    <ul class="course">
        @foreach (var course in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM")

                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>

                </div>
                <br />
                <div class="details">
                    <span class="lecture">
                        @course.Name
                    </span>
                    <br />
                    <span class="category">
                        @course.Category.Name
                    </span>
                    <button data-course-id="@course.Id" class="btn btn-default btn-sm js-tongle-attendance "> Going?</button>
                </div>

            </li>
        }

    </ul>

    @section scripts {
        <script>
            $(document).ready(function (){
                $(".js-tongle-attendance").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/attendances", { Id: button.attr("data-course-id") })
                        .done(function () {
                            alert("Register course sucessfully ! ")
                            button
                                .removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                        }).fail(function () {
                            alert("Something fail");
                        });

                });
            });
        </script>
    }

</div>


